/*reset*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "poppins", sans-serif;
    background-color: hsl(231, 100%, 81%);
}

nav{
    background-color: hsl(250, 31%, 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.Logo{
    text-transform: uppercase;
    letter-spacing: 3px;
}

a{
    color: #f0f8ff;
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
    gap: 60px;
    letter-spacing: 2px;
}